<div class="note-list">
  <br><br>

  <div class="new-note">
      <form {{action 'createNote' on="submit"}}>
      {{input type="text"
              placeholder="New Note Title"
              value=newNoteTitle
              submit="createNote"}}
      </form>
      {{#if newNoteTitle}}<button {{action 'createNote'}}>Create</button>{{/if}}
    </div>

    <br>

  {{#each model as |note|}}
    {{#link-to 'notes.note' note class="note-list-item"}}
      {{note.id}}
    {{/link-to}}
  {{/each}}
</div>

<ul class="list-group">
  <li class="list-group-header">
    <input class="form-control" type="text" placeholder="Search for someone">
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="/assets/img/avatar.jpg" width="32" height="32">
    <div class="media-body">
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="/assets/img/avatar2.png" width="32" height="32">
    <div class="media-body">
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  ...
</ul>


{{outlet}}
